In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("equity_data/ct-data-all-csdjoin.csv")

In [6]:
df["Rent%"] = 100 * df["Rent_count"] / (df["Rent_count"] + df["Own_count"])

In [7]:
df

,ctuid,Own_count,Rent_count,Unknown_count,Total_count,Equity Index,Popu_2021,PopuDenPerKM,Immigrant%,VM%,...,Neet%,%CHN,%Affordable,%ofWP,ShortTerm%,CDUID,CDNAME,CSDUID,J_CSDNAME,Rent%
0,5350400.02,0,2,0,2,0.360,5883,3516.9,2.84,48.58,...,8.87,29.41,35.29,4.53,10.84,3519,York,3519036,Markham,100.0
1,5350400.03,0,1,0,1,0.393,2848,3595.1,4.09,60.82,...,11.76,22.22,33.33,7.20,11.57,3519,York,3519036,Markham,100.0
2,5350400.04,0,11,0,11,0.459,1975,606.1,5.35,51.98,...,13.56,25.00,27.50,8.79,11.61,3519,York,3519036,Markham,100.0
3,5350400.06,0,0,0,0,0.271,3026,3204.5,2.48,41.46,...,8.82,23.81,19.05,4.69,9.56,3519,York,3519036,Markham,NaN
4,5350400.07,0,3,0,3,0.370,3425,2182.9,3.30,38.98,...,8.33,32.14,35.71,4.67,10.42,3519,York,3519036,Markham,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060,5350586.03,0,0,0,0,0.323,4674,58.9,5.30,64.94,...,12.18,16.00,24.00,0.00,10.51,3521,Peel,3521024,Caledon,NaN
1061,5350586.04,0,0,0,0,0.355,6588,5607.8,4.54,79.62,...,10.73,38.71,35.48,0.00,8.85,3521,Peel,3521024,Caledon,NaN
1062,5350586.05,0,0,0,0,0.223,9563,2586.9,4.41,67.62,...,10.40,10.71,21.43,0.00,9.26,3521,Peel,3521024,Caledon,NaN
1063,5350587.01,1,0,0,1,0.432,6072,46.0,0.91,20.43,...,17.86,40.00,42.86,3.74,9.11,3521,Peel,3521024,Caledon,0.0
1064,5350587.02,1,1,0,2,0.404,5640,37.0,0.98,13.55,...,14.08,31.25,33.33,4.58,12.09,3521,Peel,3521024,Caledon,50.0